
.ipynb_checkpoints
.idea
.virtual_documents
__pycache__
/Python/references
/Written Analysis Excerpt/James Fraser Master
Car Sales Analysis/

# Basic data file types
*.csv
*.pkl

# GIS file types
*.cpg
*.dbf
*.prj
*.shp
*.shx

# data/
# Data/
.env
Masters Thesis/

TODO.txt
.claude
/anaconda_projects
/.idea
/anaconda_projects/db
*.egg-info/
